<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

	<dict>

		<key>items</key>

		<array>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>label</key>
				<string>Device To Toggle</string>
				<key>key</key>
				<string>kDeviceName</string>
				<key>titlesDataSource</key>
				<string>deviceNames</string>
				<key>valuesDataSource</key>
				<string>deviceNames</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.control-center.toothmodule.device-changed</string>
				<key>defaults</key>
				<string>com.creaturecoding.control-center.toothmodule</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Contact Me</string>
			</dict>
			<dict>
				<key>action</key>
				<string>contact</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>email.png</string>
				<key>label</key>
				<string>Support</string>
			</dict>
			<dict>
				<key>action</key>
				<string>twitter</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>twitter.png</string>
				<key>label</key>
				<string>CreatureSurvive</string>
			</dict>
			<dict>
				<key>action</key>
				<string>paypal</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>paypal.png</string>
				<key>label</key>
				<string>Donate</string>
			</dict>
			<dict>
				<key>action</key>
				<string>github</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>github.png</string>
				<key>label</key>
				<string>Source Code</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>CreatureCoding © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

		</array>

		<key>title</key>
		<string>ToothModule</string>

	</dict>

</plist>
